@import actors._
@import helper._

@(uuid: String)(implicit request: RequestHeader)

@main("Hackathon October 2014") {

    <div class="container ">
        <div class="row">
            <div class="col-xs-12">
                <table id="board" class="col-xs-12 table table-bordered info">
                    <thead>
                        <tr>
                            <th class="col-xs-3 text-center" >user</th>
                            <th class="col-xs-9" >message</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 strong text-right ">
                @uuid
            </div>
            <div class="col-xs-9">
                <form id="msgform" class="form-horizontal" >
                    <div class="col-xs-8">
                        <input id="msgtext" type="text"  class="form-control"
                        placeholder="please type a message" />
                    </div>
                    <div class="col-xs-1">
                        <button type="submit" class="btn btn-default ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
