@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap-theme.min.css")'>
        <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <script type='text/javascript' src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("lib/flot/jquery.flot.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/chat.js")'></script>
    </head>
    <body data-ws-url="@routes.Application.ws().webSocketURL()" class="bg-primary">
    @content
    </body>
</html>
